In [ ]:
# Literals
# Strings
# Float
# Integers
# Character
# Boolean
# None

In [6]:
# Keywords
# quotes
str1=input("Enter your Name ?  ")
print(str1)

Enter your Name ?  Sachin
Sachin

In [ ]:
# identifiers ???

In [8]:
name="Umesh"
# string

In [9]:
print(name)

Umesh

In [10]:
age=25
# integer
print(age)

25

In [11]:
salary=4500.5

print(salary)

4500.5

In [12]:
type(salary)

float

In [13]:
type(name)

str

In [14]:
type(age)

int

In [19]:
is_He_Alive=False
print(is_He_Alive)

False

In [20]:
type(is_He_Alive)

bool

In [25]:
# x is sales and y is market value
x=10
y=20
z=x+y
print(z)

SyntaxError: invalid syntax (1481753167.py, line 1)

In [ ]:
# spaces before any variable or exp is called indentation

In [26]:
# expressions
x=10
y=20
z=x+y
print(z)

30

In [ ]:
# Comments in Python

# Python Data Type

In [27]:
Boolaens=True

In [31]:
Numbers=150

In [47]:
Numbers=Numbers*10
Numbers

160000000000000000

In [50]:
String="Umesh is learning from ZenLearn"
String

'Umesh is learning from ZenLearn'

In [58]:
Bytes="450"
data=bytes(Bytes,'utf-8')
data

b'450'

In [53]:
bytes([10,20,52])

b'\n\x144'

In [ ]:
bit---->> 01110001001
bytes---->> "01011111" ---> 1 byte

In [ ]:
# Lists and tuples

 # Diffrence btween data type behavior

In [2]:
# List: Mutable?
lst=["Banana","Milk",56.7,12,'spoon']
lst

['Banana', 'Milk', 56.7, 12, 'spoon']

In [3]:
lst[2]

56.7

In [5]:
lst[4]

'spoon'

In [6]:
lst.append('Orange')
lst

['Banana', 'Milk', 56.7, 12, 'spoon', 'Orange']

In [7]:
lst[1]='Tea'

In [8]:
lst

['Banana', 'Tea', 56.7, 12, 'spoon', 'Orange']

In [9]:
lst.append('P')
lst

['Banana', 'Tea', 56.7, 12, 'spoon', 'Orange', 'P']

In [11]:
# List is ordered
lst[2]

56.7

In [ ]:
Train Number---> Jan Shatabdi--> 12568 ---> ND to Chennai---> Three days

In [13]:
# List is indexing/Slicing
lst[3:6]

[12, 'spoon', 'Orange']

In [15]:
# duplicate elements in list
lst.append('Tea')
lst

['Banana', 'Tea', 56.7, 12, 'spoon', 'Orange', 'P', 'Orange', 'Tea']

In [16]:
# Tuple: is not Mutable?
my_tuple=('ZepLearn','ML',12,'DS')
my_tuple

('ZepLearn', 'ML', 12, 'DS')

In [17]:
my_tuple[2]=55

TypeError: 'tuple' object does not support item assignment

In [18]:
my_tuple.append(75)

AttributeError: 'tuple' object has no attribute 'append'

In [19]:
my_tuple[1:3]
# tuple is supporting indexing

('ML', 12)

In [20]:
my_tuple=('ZepLearn','ML',12,'DS','ML',12)
my_tuple
# tuple is also supporting duplicate elements ?

('ZepLearn', 'ML', 12, 'DS', 'ML', 12)

# Set

In [23]:
# umesh=['ML', 12, 'DS']
# umesh=('ML', 12, 'DS')
umesh={'ML', 12, 'DS'}
type(umesh)

set

In [24]:
my_set={'Edunock','ML',12,3.5,'DS','Edunock','ML',12,45,45,45}

In [25]:
my_set

{12, 3.5, 45, 'DS', 'Edunock', 'ML'}

In [27]:
my_set.add(57)
my_set

{12, 3.5, 45, 57, 'DS', 'Edunock', 'ML'}

In [28]:
my_set.add('Sachin')
my_set

{12, 3.5, 45, 57, 'DS', 'Edunock', 'ML', 'Sachin'}

In [29]:
my_set.remove('DS')
my_set

{12, 3.5, 45, 57, 'Edunock', 'ML', 'Sachin'}

In [30]:
# my_set.add('Sachin')
my_set[3]

TypeError: 'set' object is not subscriptable

In [34]:
my_set={85,100,12,3.5,12,45,45,45}
my_set

{3.5, 12, 45, 85, 100}

In [39]:
my_set.pop()

85

In [40]:
my_set

{12, 45}

In [32]:
my_set=(85,100,12,3.5,12,45,45,45)
my_set

(85, 100, 12, 3.5, 12, 45, 45, 45)

In [33]:
my_set=[85,100,12,3.5,12,45,45,45]
my_set

[85, 100, 12, 3.5, 12, 45, 45, 45]

# Dictionary

In [52]:
my_dict={'name':'Sachin','course_duration':10,'EduTech':'ZebLearn'}
# my_dict['Time']='7 PM'

In [53]:
my_dict

{'name': 'Sachin', 'course_duration': 10, 'EduTech': 'ZebLearn'}

In [54]:
my_dict['Time']='8 AM'

In [55]:
my_dict

{'name': 'Sachin',
 'course_duration': 10,
 'EduTech': 'ZebLearn',
 'Time': '8 AM'}

In [56]:
my_dict['Location']='Online'

In [57]:
my_dict

{'name': 'Sachin',
 'course_duration': 10,
 'EduTech': 'ZebLearn',
 'Time': '8 AM',
 'Location': 'Online'}

In [58]:
my_dict.keys()

dict_keys(['name', 'course_duration', 'EduTech', 'Time', 'Location'])

In [59]:
my_dict.values()

dict_values(['Sachin', 10, 'ZebLearn', '8 AM', 'Online'])

In [60]:
my_dict.get('Location')

'Online'

In [55]:
my_dict={'name':'Edunock','course_duration':10,'Time': '7 PM','name':'Sachin','course_duration':99,'name':'Jyoti'}

In [56]:
my_dict

{'name': 'Jyoti', 'course_duration': 99, 'Time': '7 PM'}

In [57]:
my_dict={'name1':'Edunock','course_duration1':10,'Time': '7 PM','name2':'Sachin','course_duration2':99,'name3':'Jyoti'}

In [58]:
my_dict

{'name1': 'Edunock',
 'course_duration1': 10,
 'Time': '7 PM',
 'name2': 'Sachin',
 'course_duration2': 99,
 'name3': 'Jyoti'}

# String

In [2]:
#join function
feel=['Sad ','Happy ','Angry ']
string=''.join(feel)
print(string)

Sad Happy Angry

In [3]:
type(string)

str

In [4]:
person='Sachin, Umesh, Ahana, Srinjana'
seperator=','
print(person.split(seperator))

['Sachin', ' Umesh', ' Ahana', ' Srinjana']

In [7]:
person='Sachin, $ Umesh,$ Ahana, $Srinjana'
# seperator=','
print(person.split(' '))

['Sachin,', '$', 'Umesh,$', 'Ahana,', '$Srinjana']

In [8]:
string="Medical values for person Cancer"
print(string.title())

Medical Values For Person Cancer

In [9]:
# replace
intro="I am software Engineer"
new=intro.replace("software",'Civil')

In [10]:
new

'I am Civil Engineer'

In [11]:
# upper
animal='I am software Engineer'
print(animal.upper())

I AM SOFTWARE ENGINEER

In [12]:
# lower
animal='I AM SOFTWARE ENGINEER'
print(animal.lower())

i am software engineer

In [13]:
# casefold
job='Programmer is SAMPLE'
print(job.casefold())

programmer is sample

In [15]:
# capitalize
job='programmer is SAMPLE, I AM SOFTWARE ENGINEER '
print(job.capitalize())

Programmer is sample, i am software engineer

In [16]:
# swapcase
capital='programmer is SAMPLE'
print(capital.swapcase())

PROGRAMMER IS sample

In [18]:
# count
str1='Programmer is Sales sample, i am Sales software engineer'
cont=str1.count('Sales')
print(cont)

2

In [19]:
# index
str1='programmer is SAMPLE programmer'
index=str1.index('m')
print(index)

6

In [20]:
# rindex
str1='programmer is SAMPLE programmer'
index=str1.rindex('m')
print(index)

28

In [23]:
# find
str2='programmer is good for web application'
pos=str2.find('good')
print(pos)

14

In [27]:
# startswith
str3='Ahana is reading Python'
# str4
# str5
# str6
print(str3.startswith('a'))

False

In [29]:
# endswith
str3='Ahana is reading Python'
print(str3.endswith('n'))

True

In [31]:
# format
string="{0} is a {1} programming langauage"
print(string.format("Python","Excellent"))

Python is a Excellent programming langauage

In [35]:
print("{1} is working in {3} company".format("Umesh","Sachin","IT","Healthcare"))

Sachin is working in Healthcare company

In [36]:
# isalnum
# Returns True if all characters in the string are alphanumeric (alphabets and numeric values)
string="Python314587abcdefgh"
print(string.isalnum())

True

In [40]:
# strip
string="     Python    "
strip=string.strip()
print(len(string))
print(len(strip))
print(strip)

6
6
Python

In [43]:
string="    Python     "
strip=string.strip()
print(len(strip))

6

In [44]:
# center
job='doctor'
print(job.center(15))
print(job.center(25))
print(job.center(35))

     doctor
          doctor
               doctor

In [48]:
# how to compare two strings ignoring case in Python?
print("USA inDia" == "usa INDIA")

False

# Operatores in Python

In [5]:
x=10+15
x

25

In [6]:
x=x+5
x

30

In [7]:
x+=5
x

35

In [12]:
y=35.0

In [13]:
if (x==y):
    print('Zeblearn')

Zeblearn

In [14]:
x<y

False

In [15]:
x>y

False

In [18]:
x=15
y=93
x&y

13

In [ ]:
  8
& 0
---
  0

In [ ]:
x = 15 (binary: 00001111)
y = 93 (binary: 01011101)
x&y=============00001101
2^3+2^2+1==8+4+1=13

In [ ]:
# identity operators

In [19]:
x=[1,2,3]   
y=[1,2,3]
z=x
print(x is y)  # False - x and y are different objects with the same values
print(x is z)  # True - x and z are the same object in memory

False
True

In [20]:
print(id(x))
print(id(y))
print(id(z))

2230148716608
2230148716864
2230148716608

In [21]:
x=[1,2,3]   
y=[1,2,3]
z=x
print(x is not y)  # False - x and y are different objects with the same values
print(x is not z)  # True - x and z are the same object in memory

True
False

In [ ]:
# Membership Operators

In [22]:
fruits=['apple','banana','orange']
print('banana' in fruits)
print('papaya' in fruits)

True
False

In [23]:
fruits=['apple','banana','orange']
print('banana' not in fruits)
print('papaya' not in fruits)

False
True

In [ ]:
Membership operators are commonly used with strings, lists, tuples, sets, and 
dictionaries to check if a specific value exists within them.

In [28]:
fruits=' Sachin and Umesh are leraning Python'
print('Um' in fruits)
print('sa' in fruits)

True
False

# Python Namespace

In [ ]:
Python uses a namespace lookup mechanism to resolve 
names when they are referenced. It searches for a name in the 
local namespace first, then in the
global namespace, and finally in the built-in namespace.

In [32]:
t = 10  # Global namespace

def foo():
    y = 20  # Local namespace
    print(t)  # Accessing x from global namespace
    print(y)  # Accessing y from local namespace

foo()

10
20

In [35]:
x = 10  # Global variable

def foo():
    y = 20  # Local variable
    print("Inside foo():")
    print("x =", x)  # Accessing global variable
    print("y =", y)  # Accessing local variable
    
def bar():
    x = 30  # Local variable with the same name as global variable
    print("Inside bar():")
    print("x =", x)  # Accessing local variable

    
foo()
bar()

x=65
# Accessing global variable outside of any function
print("Outside of any function:")
print("x =", x)

Inside foo():
x = 10
y = 20
Inside bar():
x = 30
Outside of any function:
x = 65

In [ ]:
# built-in Namespace example

In [36]:
# Using built-in functions

# Print function
print("Hello, world!")

# Type function
x = 10
print(type(x))  # Output: <class 'int'>

Hello, world!
<class 'int'>

In [37]:
# Len function
my_list = [1, 2, 3, 4, 5]
print(len(my_list))  # Output: 5

5

In [38]:
# Using built-in objects

# Exception handling
try:
    result = 10 / 0
except ZeroDivisionError as e:
    print("Error:", e)

Error: division by zero

In [41]:
# Range object
for i in range(5):
    print(i, end=' ')  # Output: 0 1 2 3 4
print()

0 1 2 3 4

In [42]:
# String object
my_string = "Hello, Python!"
print(my_string.upper())  # Output: HELLO, PYTHON!

HELLO, PYTHON!

In [44]:
help([list])

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [46]:
import math
help(math.sqrt)

Help on built-in function sqrt in module math:

sqrt(x, /)
    Return the square root of x.

In [ ]:
# Name Conflict in Python

In [47]:
# Global namespace
x = 10

def foo():
    # Local namespace
    x = 20  # This creates a local variable 'x', shadowing the global 'x'
    print("Local x:", x)

foo()
print("Global x:", x)

Local x: 20
Global x: 10

# List Tuples, Set and Dictionraies

In [1]:
# create the List
ume=[12,53.8,'T','Sachin']

In [2]:
ume

[12, 53.8, 'T', 'Sachin']

In [3]:
# Access the list
ume[1:3]

[53.8, 'T']

In [ ]:
ume[]

In [4]:
# create the List
ume=[1, 2, 3, 4, 5,12,53.8,'T','Sachin']

In [5]:
ume[2:6]

[3, 4, 5, 12]

In [7]:
ume[-3:-1]

[53.8, 'T']

In [9]:
ume[-6:]

[4, 5, 12, 53.8, 'T', 'Sachin']

In [12]:
ume[:3]

[1, 2, 3]

In [14]:
ume

[1, 2, 3, 4, 5, 12, 53.8, 'T', 'Sachin']

In [17]:
ume[0:9:3]

[1, 4, 53.8]

In [15]:
ume[::2]

[1, 3, 5, 53.8, 'Sachin']

In [21]:
# searching elements in List python 
my_list=[1,2,3,4]
if 3 in my_list:
    print("Element found")

Element found

In [22]:

# sorting a list in Python
my_list=[4,1,2,8,3,9,0,2]
my_list.sort()
my_list

[0, 1, 2, 2, 3, 4, 8, 9]

In [23]:

# sorting a list in Python
my_list=[4,1,2,8,3,9,0,2]
my_list.sort(reverse=True)
my_list

[9, 8, 4, 3, 2, 2, 1, 0]

In [24]:
# sorting a list in Python
my_list=[4,1,2,8,3,9,0,2]
umesh_list=sorted(my_list,reverse=True)
umesh_list

[9, 8, 4, 3, 2, 2, 1, 0]

In [28]:
my_list=range(5)
my_list=list(my_list)
my_list

[0, 1, 2, 3, 4]

In [29]:
my_string="Hello, World, Sachin!!"
split_list=list(my_string.split(","))
split_list

['Hello', ' World', ' Sachin!!']

In [30]:
my_string="The primary difference between tuples and lists is that tuples are immutable as opposed to lists which are mutable. Therefore, it is possible to change a list but not a tuple. The contents of a tuple cannot change once they have been created in Python due to the immutability of tuples."
split_list=list(my_string.split(" "))
split_list

['The',
 'primary',
 'difference',
 'between',
 'tuples',
 'and',
 'lists',
 'is',
 'that',
 'tuples',
 'are',
 'immutable',
 'as',
 'opposed',
 'to',
 'lists',
 'which',
 'are',
 'mutable.',
 'Therefore,',
 'it',
 'is',
 'possible',
 'to',
 'change',
 'a',
 'list',
 'but',
 'not',
 'a',
 'tuple.',
 'The',
 'contents',
 'of',
 'a',
 'tuple',
 'cannot',
 'change',
 'once',
 'they',
 'have',
 'been',
 'created',
 'in',
 'Python',
 'due',
 'to',
 'the',
 'immutability',
 'of',
 'tuples.']

In [31]:
my_string="The primary difference between tuples and lists is that tuples are immutable as opposed to lists which are mutable. Therefore, it is possible to change a list but not a tuple. The contents of a tuple cannot change once they have been created in Python due to the immutability of tuples."
split_list=list(my_string.split("."))
split_list

['The primary difference between tuples and lists is that tuples are immutable as opposed to lists which are mutable',
 ' Therefore, it is possible to change a list but not a tuple',
 ' The contents of a tuple cannot change once they have been created in Python due to the immutability of tuples',
 '']

In [35]:
split_list[-2]

' The contents of a tuple cannot change once they have been created in Python due to the immutability of tuples'

In [37]:
print(type(my_list))

<class 'list'>

In [38]:
sachin=4.5
print(type(sachin))

<class 'float'>

# Tuple

In [40]:
my_tuple=(1,2,3,'a','b','c')
print(my_tuple[3])

a

In [41]:
for item in my_tuple:
    print(item)

1
2
3
a
b
c

In [42]:
for sachin in my_tuple:
    print(sachin)

1
2
3
a
b
c

In [43]:
tuple1=(4,5,6)
tuple2=(7,8,9)
concate=tuple1+tuple2
concate

(4, 5, 6, 7, 8, 9)

In [44]:
my_tuple[1:3]

(2, 3)

In [45]:
concate[1:3]

(5, 6)

In [46]:
concate[2]='Python'

TypeError: 'tuple' object does not support item assignment

In [47]:
tuple1=[4,5,6]
tuple2=[7,8,9]
concate=tuple1+tuple2
concate

[4, 5, 6, 7, 8, 9]

In [48]:
concate[2]='Python'

In [49]:
concate

[4, 5, 'Python', 7, 8, 9]

In [50]:
# Chennai Express  12587
# Name of passangers

# Decision Making Loops in Python

## Python if, if-else, else-if, nested-if

In [1]:
x=10
y=5

if x>y:
    print("x is greater than y")

x is greater than y

In [5]:
t=10
# t=t-10

if t:
    print("t is True")
else: 
    print("t is False")

t is True

In [15]:
x=int(input("enter your x value..."))
y=int(input("enter your y value..."))

if x==y:
    print("x is eaquivalant to y")
else:
    print("x is not eaquivalant to y")

enter your x value...78
enter your y value...14
x is not eaquivalant to y

In [13]:
type(y)

int

In [16]:
# if-elif-else

x=int(input("enter your x value..."))
y=int(input("enter your y value..."))

if x==y:
    print("x is eaquivalant to y")
elif x>y:
    print("x is greater than y")
else:
    print("x is not eaquivalant to y")

enter your x value...78
enter your y value...15
x is greater than y

In [19]:
# find the largest number out of three varaibales 
x=int(input("enter your x value..."))
y=int(input("enter your y value..."))
z=int(input("enter your z value..."))

largest=0

if x>=y and x>=z:
    largest=x
elif y>=x and y>=z:
    largest=y
else:
    largest=z
    
print("Largest number is", largest)

enter your x value...74
enter your y value...82
enter your z value...96
Largest number is 96

In [22]:
# find the largest number out of three varaibales 
x=int(input("enter your x value..."))
y=int(input("enter your y value..."))
z=int(input("enter your z value..."))

largest=0

if x>=y:
    if x>=z:
        largest=x
else:
    if y>=z:
        largest=y
    else:
        largest=z

    
print("Largest number is", largest)

enter your x value...45
enter your y value...63
enter your z value...86
Largest number is 86

# for loop

In [23]:
fruits=["apple","banana","cherry"]
for f in fruits:
    print(f)

apple
banana
cherry

In [26]:
fruits=["apple","banana","cherry"]
for f in range(0,3):
    print(fruits[f])

apple
banana
cherry

In [27]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
# while loop
i=0
while i<10:
    print("Umesh ",i)
    i=i+1

Umesh  0
Umesh  1
Umesh  2
Umesh  3
Umesh  4
Umesh  5
Umesh  6
Umesh  7
Umesh  8
Umesh  9

In [30]:
# while loop
i=2
while i<21:
    print("Umesh ",i)
    i=i+1

Umesh  2
Umesh  3
Umesh  4
Umesh  5
Umesh  6
Umesh  7
Umesh  8
Umesh  9
Umesh  10
Umesh  11
Umesh  12
Umesh  13
Umesh  14
Umesh  15
Umesh  16
Umesh  17
Umesh  18
Umesh  19
Umesh  20

In [31]:
# break condition

# while loop
i=2
while i<21:
    print("Umesh ",i)
    if i==15:
        break
    i=i+1

Umesh  2
Umesh  3
Umesh  4
Umesh  5
Umesh  6
Umesh  7
Umesh  8
Umesh  9
Umesh  10
Umesh  11
Umesh  12
Umesh  13
Umesh  14
Umesh  15

In [36]:
while True:
    user_input=input("Enter a number(press 'q' to quit): ")
    
    if user_input=='q' or user_input=='Q':
        print("Thnnks for gaming with GT5")
        break

Enter a number(press 'q' to quit): qwe
Enter a number(press 'q' to quit): Qese
Enter a number(press 'q' to quit): tgy
Enter a number(press 'q' to quit): ujh
Enter a number(press 'q' to quit): Q
Thnnks for gaming with GT5

In [40]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in numbers:
    # Skip even numbers
    if number % 2 != 0:
        continue
    
    print(number)

2
4
6
8
10

# What is Module?

In [3]:
import math
result=sqrt(16)
result

4.0

In [2]:
from math import sqrt
result=sqrt(16)
result

4.0

In [5]:
import math
result=math.sin(16)
result

-0.2879033166650653

In [8]:
import math
result=math.log(10)
result

2.302585092994046

In [ ]:
# How to import a Module?
#  Import module
#  The from import statement
#  The fromimport* statement use

In [12]:
r=2
circle_area=math.pi*r*r
circle_area

12.566370614359172

In [11]:
22/7

3.142857142857143

In [14]:
math.factorial(5)

120

In [ ]:
from my_package import module_name

In [ ]:
import * from math

In [ ]:
import sys
sys.path.append('/path/to/module_directory')

import module_name

# Introduction to Function
<!--  Defining a Function
 Calling a Functi -->

In [1]:
# function defintion 
def zeblearn():
    print("Hello")

In [2]:
#function calling
zeblearn()

Hello

In [3]:
# function defintion 
def zeblearn(x):
    print("Hello")
    x=x+5
    print(x)

In [4]:
#function calling
zeblearn(3)

Hello
8

In [5]:
# function defintion 
def zeblearn(x,y):
    print("Hello")
    x=x+y
    print(x)

In [6]:
#function calling
zeblearn(3,9)

Hello
12

In [28]:
# function defintion 
def zeblearn(x,y,age,z="Please add your name here "):
    print("My name is :", z)
    print("My age is: ",age)
    x=x*y
    print(x)

In [31]:
#function calling
zeblearn(3,9,25,"Umesh")

My name is : Umesh
My age is:  25
27

In [18]:
def example(*args,**kwargs):
    for arg in args:
        print(arg)
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [26]:
example(1, 2, 3, 4, 5, 6, 7, 8, name='Sachin', age=25, cont="890960", add="New Delhi")

1
2
3
4
5
6
7
8
name:Sachin
age:25
cont:890960
add:New Delhi

In [35]:
def example(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [43]:
example( name='Sachin', age=25, cont="890960", add="New Delhi",)

name:Sachin
age:25
cont:890960
add:New Delhi

In [44]:
example( name='Umesh', age=21, cont="88547", add="Banglore",)

name:Umesh
age:21
cont:88547
add:Banglore

In [45]:
example( name='Priya', age=21, cont="88547", add="Banglore",)

name:Priya
age:21
cont:88547
add:Banglore

In [58]:
# Scope of the Variables
x=25
def my_function():
    x=10
    x+=5
    print("Inside the funct: ",x)

In [59]:
my_function()
print("Outside the funct: ",x)

Inside the funct:  15
Outside the funct:  25

In [56]:
# Scope of the Variables
x=25
def my_function():
    global x
    x+=5
    print("Inside the funct: ",x)

In [57]:
my_function()
print("Outside the funct: ",x)

Inside the funct:  30
Outside the funct:  30

In [60]:
# Passing function to a Function
def add(a,b):
    return a+b

def multiply(a,b):
    return a*b

def apply_operation(operation,x,y):
    return operation(x,y)    #add(5,3)

In [61]:
result=apply_operation(add,5,3)
print(result)

8

In [62]:
result=apply_operation(multiply,5,3)
print(result)

15